<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>
  </title>
  <link href="/static/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
  <link href="/static/ligerUI/skins/Silvery/css/style.css" rel="stylesheet" type="text/css" />
  <script src="/static/jquery/jquery-1.3.2.min.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/core/base.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/plugins/ligerForm.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/plugins/ligerDateEditor.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/plugins/ligerComboBox.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/plugins/ligerCheckBox.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/plugins/ligerButton.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/plugins/ligerRadio.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/plugins/ligerSpinner.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/plugins/ligerTextBox.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/plugins/ligerTip.js" type="text/javascript"></script>
  <script src="/static/jquery-validation/jquery.validate.min.js" type="text/javascript"></script>
  <script src="/static/jquery-validation/jquery.metadata.js" type="text/javascript"></script>
  <script src="/static/jquery-validation/messages_cn.js" type="text/javascript"></script>
  <script src="/static/ligerUI/js/plugins/ligerTab.js" type="text/javascript"></script>
  <script src="/static/highlight/jquery.highlight.js"></script>

  <script type="text/javascript">
    var eee;
    $(function () {
      $.metadata.setType("attr", "validate");
      var v = $("form").validate({
        debug: true,
        errorPlacement: function (lable, element) {
          if (element.hasClass("l-textarea")) {
            element.ligerTip({ content: lable.html(), target: element[0] });
          } else if (element.hasClass("l-text-field")) {
            element.parent().ligerTip({ content: lable.html(), target: element[0] });
          } else {
            lable.appendTo(element.parents("td:first").next("td"));
          }
        },
        success: function (lable) {
          lable.ligerHideTip();
          lable.remove();
        },
        submitHandler: function () {
          document.form1.submit();
        }
      });
      $("form").ligerForm();
      $(".l-button-test").click(function () {
        alert(v.element($("#txtName")));
      });
    });


    // var upflag = {{.errormsg}}; 这里报错

    if (upflag != "") {
      if (upflag == "保存成功") {
        parent.window.loadtree();
        $(".l-bar-button.l-bar-btnload", window.parent.document).click();
        parent.$.ligerDialog.close();
        parent.$(".l-dialog,.l-window-mask").remove();

      } else {
        alert(upflag);
      }
    }

  </script>
  <style type="text/css">
    body {
      font-size: 12px;
    }

    .l-table-edit {}

    .l-table-edit-td {
      padding: 4px;
    }

    .l-verify-tip {
      left: 230px;
      top: 120px;
    }
  </style>

  <style>
    input {
      border: 1px solid #333333;
      color: #666666;
      background: #eeeeee;
      font: normal 12px Tahoma;
      height: 18px;
      width: 100% !important;
    }

    .l-text {
      width: 100% !important;
    }

    .l-button-submit,
    .l-button-test {
      width: 80px !important;
      float: left;
      margin-left: 10px;
      padding-bottom: 2px;
    }

    .l-box-select {
      width: 174px !important;
    }
  </style>

</head>

<body style="padding:10px">

  <form name="form1" id="form1" method="post" style="width:600px" action="/interface/router/comp/addHttpClient"
    enctype="multipart/form-data">
    <div>
    </div>
    <table cellpadding="0" cellspacing="0" class="l-table-edit">
      <tr>
        <td align="right" class="l-table-edit-td" style="width:100px">控件名称:</td>
        <td align="left" class="l-table-edit-td" style="padding-right:180px">
          <input name="ItemName" type="text" id="ItemName" ltype="text" value="{{.item.Name}}"
            validate="{required:true,minlength:1,maxlength:20}" />
          <input name="id" type="hidden" id="id" value="{{.item.ID}}" />
          <input name="nodeid" type="hidden" id="nodeid" value="{{.nodeid}}" />
        </td>
      </tr>

      <tr>
        <td align="right" class="l-table-edit-td">URL:</td>
        <td align="left" class="l-table-edit-td" colspan="2">
          <input name="HostUrl" type="text" id="HostUrl" ltype="text" value="{{.item.HostUrl}}"
            style="width:100% !important" validate="{required:true,minlength:1,maxlength:200}" />
        </td>
      </tr>

      <tr>
        <td align="right" class="l-table-edit-td" style="width:100px">Method:</td>
        <td align="left" class="l-table-edit-td" colspan="2" style="padding-right:180px">
          <select name="Method" id="Method">
            <option value="GET" {{if eq .item.Method "GET"}} selected="selected" {{end}}>GET</option>
            <option value="POST" {{if eq .item.Method "POST"}} selected="selected" {{end}}>POST</option>
          </select>
        </td>
      </tr>

      <tr>
        <td align="right" class="l-table-edit-td" style="width:100px">ContentType:</td>
        <td align="left" class="l-table-edit-td" colspan="2" style="padding-right:180px">
          <input name="ContentType" type="text" id="ContentType" ltype="text" value="{{.item.ContentType}}"
            validate="{required:true,minlength:1,maxlength:200}" />
        </td>
      </tr>

      <tr>
        <td align="right" class="l-table-edit-td" style="width:100px">CharSet:</td>
        <td align="left" class="l-table-edit-td" colspan="2" style="padding-right:180px">
          <select name="CharSet" id="CharSet">
            <option value="gbk" {{if eq .item.CharSet "gbk"}} selected="selected" {{end}}>GBK</option>
            <option value="utf-8" {{if eq .item.CharSet "utf-8"}} selected="selected" {{end}}>UTF8</option>
          </select>
        </td>
      </tr>

      <tr>
        <td align="right" class="l-table-edit-td">
        </td>
        <td align="center" class="l-table-edit-td" style="width:350px">
          <input type="submit" value="提交" id="Button1" class="l-button l-button-submit" name="btnsubmit" />
        </td>
        <td align="right">
        </td>
      </tr>

    </table>
  </form>
  <div style="display:none">
    <!--  数据统计代码 -->
  </div>

</body>

</html>